.details-container{
    background-color: rgb(253, 253, 253);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 3rem;
    margin: 3rem;
}

.product-detail-image img{
    width: 70%;
    height: 100%;
}

.product-description{
    border: solid, 1px, grey;
    width: 90%;
}
.product-description p {
    font-size: 22px;
    font-weight:lighter;
    
}

.product-description h3 {
    font-weight:bold;
}

.itemcount{
    margin: auto;
}



@media  screen and (max-width: 768px){
    .details-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        padding: 10px;
        margin: 10px;
    }
    .product-image img{
        padding: 5px;
        margin-left: 15%;
    }
    .product-description{
        margin: auto;
        text-align: center;
    }
}

