.bg-dark {
    background-color: #fbfbfb!important;
}

.navbar-dark .navbar-nav .nav-link p {
    color: black;
    text-transform: uppercase;
    text-align: center;
        
}

.navbar-dark .navbar-nav .nav-link p:hover {
    color: rgb(96, 99, 98);
}


